name: Build OR-Tools base image (Linux only)

on:
  workflow_dispatch:      # run manually only
  push:
    paths:
      - ".github/workflows/build-ortools.yml"

permissions:
  contents: read
  packages: write

jobs:
  build-ortools-linux:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout (not actually needed)
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push OR-Tools base image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.ortools.linux
          push: true
          tags: |
            ghcr.io/mertbiyikli/ortools:linux
